.card-cont{
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: 50px;
    }
    
    .card{
        height: 150px;
        width: 150px;
        /* padding-left: 60px; */
        cursor: pointer;
       
        /* transition: all .2s ease-in-out;  */
    }
    /* .card:hover { 
        transform: scale(1.1); 
        } */
    .card img{
        height: 140px;
        width: 140px;
    }
    .card h4{
        margin-top: 0;
        margin-left: 20px;
    }